* {
		padding: 0, 0, 0, 0;
		margin: 0, 0, 0, 0;

		font-family: 'Source Code Pro', monospace;
		background-color: rgba(242,93,89,1);
}


/* RESPONSIVE SECTION */

#wrap {

	height: 100%;
	width: 100%;




}
#container {

		border: 2px solid black;
		
		display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
	 width: 704px;
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 100px;



}





.cell {

	display: flex;
	background-color: rgba(220,220,205,1);
	margin: 2px;
	-webkit-flex: 1 1 0;
   flex: 1 1 0;
	 overflow: hidden;
	 height: 40px;
	 width: 40px;
}


.cell:hover {

	background-color: rgba(219,84,80,1);


}
