* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: 'Cabin Sketch', cursive;
}


/*RESPONSIVE SECTION*/


/*

@media screen and (max-width: 350px) and (min-width: 100px)  {

    h1 {

        font-size: 1.4em;

    }

		.cell {

			height: 13px;
    	width: 13px;
			margin: 1px;

	}

	#container {

		width: 240px;

	}

	#wrap {

		width: 300px;

	}

	#left-dial , #right-dial {

			width: 30px;
			height: 30px;

		}


}



@media screen and (max-width: 500px) and (min-width: 351px)  {

    h1 {

        font-size: 2em;

    }

		.cell {

			height: 15px;
    	width: 15px;
			margin: 1px;

	}

	#container {

		width: 272px;

	}

	#wrap {

		width: 350px;

	}

	#left-dial , #right-dial {

			width: 40px;
			height: 40px;

		}


}




@media screen and (max-width: 800px) and (min-width: 501px)  {

    h1 {

        font-size: 3em;

    }

		.cell {

			height: 20px;
    	width: 20px;
			margin: 1px;

	}

	#container {

		width: 352px;

	}

	#wrap {

		width: 470px;

	}

	#left-dial , #right-dial {

	width: 60px;
			height: 60px;

		}


}

*/

@media screen and (max-width: 3800px) and (min-width: 101px) {
    h1 {
        font-size: 3em;
    }
    #container {
        width: 572px;
    }
    #left-dial, #right-dial {
        width: 80px;
        height: 80px;
    }
}


/* @media screen and (max-width: 3000px) and (min-width: 1801px)  {

    h1 {

        font-size: 4em;
    }

		.cell {

			height: 40px;
    	width: 40px;
			margin: 2px;

	}

	#container {

		width: 704px;

	}

	#wrap {

		width: 900px;

	}

	#left-dial , #right-dial {

	    width: 120px;
	    height: 120px;

		}


}


*/

body {


    background-color: #c51110;
}

h1 {
    color: #1d1d1d;
    text-align: center;
    padding: 0;
    margin: 30px;
    position: relative;
}

#container {
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.cell {
    background-color: #e9e7e8;
}

.highlight {
    background-color: #e9e7e8;
    opacity: 1;
}

#wrap {
    width: 700px;
    position: relative;
    margin: auto;
}

#bottom-element {

  width: 700px;
  position: absolute;
    text-align: center;
    margin-left: auto;

    margin-right: auto;
}

#left-dial, #right-dial {
    background-color: #e9e7e8;
    border-radius: 99px;
    border: dotted 4px #cccccc;
    margin-top: 30px;
    line-height: 90px;
    color: #555555;
    cursor: pointer;

}

#left-dial {


     display: inline-block;
    margin-right: 200px
}

#right-dial {


    display: inline-block;

}

#color {

    display: inline-block;
    margin-right: 200px;


}

select {

    background-color: white;
    width: 100px;

}
